Removing rows with null values

In [7]:
import pandas as pd


df = pd.DataFrame({
    'A': [1, 2, None, 4],
    'B': [None, 2, 3, 4]
})

df_cleaned = df.dropna()
print(df_cleaned)

     A    B
1  2.0  2.0
3  4.0  4.0

Filling null values with a specific value

In [8]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, None, 4],
    'B': [None, 2, 3, 4]
})


df_filled = df.fillna(0)
print(df_filled)

     A    B
0  1.0  0.0
1  2.0  2.0
2  0.0  3.0
3  4.0  4.0

Filling null values with the mean of the column

In [9]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, None, 4],
    'B': [None, 2, 3, 4]
})

# Fill null values with the mean of the column
df['A'] = df['A'].fillna(df['A'].mean())
df['B'] = df['B'].fillna(df['B'].mean())
print(df)

          A    B
0  1.000000  3.0
1  2.000000  2.0
2  2.333333  3.0
3  4.000000  4.0

Filling null values using forward fill method

In [10]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, None, 4],
    'B': [None, 2, 3, 4]
})

# Forward fill null values
df_filled_ffill = df.fillna(method='ffill')
print(df_filled_ffill)

     A    B
0  1.0  NaN
1  2.0  2.0
2  2.0  3.0
3  4.0  4.0

Filling null values using backward fill method

In [11]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, None, 4],
    'B': [None, 2, 3, 4]
})

# Backward fill null values
df_filled_bfill = df.fillna(method='bfill')
print(df_filled_bfill)

     A    B
0  1.0  2.0
1  2.0  2.0
2  4.0  3.0
3  4.0  4.0

Detecting and Counting Null Values in a DataFrame

In [12]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, None, 4],
    'B': [None, 2, 3, 4]
})

# Detecting null values
null_values = df.isnull()
print("Null values in the DataFrame:\n", null_values)

# Counting null values in each column
null_counts = df.isnull().sum()
print("\nNumber of null values in each column:\n", null_counts)

Null values in the DataFrame:
        A      B
0  False   True
1  False  False
2   True  False
3  False  False

Number of null values in each column:
 A    1
B    1
dtype: int64

Interpolating Missing Values

In [13]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, None, 4],
    'B': [None, 2, 3, 4]
})

# Interpolating missing values
df_interpolated = df.interpolate()
print("DataFrame after interpolating missing values:\n", df_interpolated)

DataFrame after interpolating missing values:
      A    B
0  1.0  NaN
1  2.0  2.0
2  3.0  3.0
3  4.0  4.0